body {
	background-color: #6B205F;
	font-family: 'Lato', sans-serif;
}

hr.top { 
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    border-width: 2px;
}

hr { 
    display: block;
    border-width: 2px;
}


@media screen and (min-width: 480px) {
	.main-title {
		text-align: center;
		margin-top: 100px;
	}
    .main-title h1 {
		font-size: 48px;
		color: #FFF;
    }

	.main-subtitle {
		text-align: center;
		margin-top: 50px;
	}
	.main-subtitle p {
		font-size: 28px;
		color: #FFF;
	}

	.btn-primary {
		font-size: 48px;
	}

	.main-footer p {
		font-size: 16px;
	}

	.main-links {
		font-size: 20px;
		margin-top: 100px;
	}
}
@media screen and (max-width: 479px) {

	.main-title {
		text-align: center;
		margin-top: 20px;
	}
    .main-title h1 {
		font-size: 24px;
		color: #FFF;
    }

	.main-subtitle {
		text-align: center;
		margin-top: 20px;
	}
	.main-subtitle p {
		font-size: 16px;
		color: #FFF;
	}

	.btn-primary {
		font-size: 24px;
	}

	.main-footer p {
		font-size: 12px;
	}

	.main-links {
		font-size: 16px;
		margin-top: 20px;
	}
}

.btn-primary {
	border-color: #FFF !important;
	background: #FFF !important;
  	color: #6B205F !important;
  	font-weight: 700;
}

.main-links {
	color: #FFF;
	font-weight: 300;
	text-align: right;
}

.main-links a {
	font-weight: 400;
	color: #FFF;
	text-decoration: underline;
	margin-left: 20px;
}

.main-footer p {
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #FFF;
	font-weight: 400;
	text-align: left;
}

#tablet1 {
	position: fixed;
	left: 171px;
	top: 155px;
}

#tablet2 {
	position: fixed;
	left: 547px;
	top: 483px;
}

#tablet3 {
	position: fixed;
	left: 767px;
	top: 47px;
}

#tablet4 {
	position: fixed;
	left: 1080px;
	top: 440px;
}

#phone1 {
	position: fixed;
	left: 137px;
	top: 483px;
}

#phone2 {
	position: fixed;
	left: 353px;
	top: 411px;
}

#phone3 {
	position: fixed;
	left: 839px;
	top: 341px;
}

#phone4 {
	position: fixed;
	left: 1111px;
	top: 210px;
}

.circle {
	margin:10px auto ;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	text-align: center;
	background-color: #333;
}
.circle span {
	height: 200px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}
.circle p {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
	color: #fff;
}
