body {
	font-family: 'Lato', sans-serif;
}

body.main {
	background-color: #6B205F;
}

hr.top { 
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    border-width: 2px;
}

hr { 
    display: block;
    border-width: 2px;
}

hr.result { 
    border-color: #6B205F;
}

.quiz .main-title h1 {
	color: #6B205F;
}

@media screen and (min-width: 480px) {
	.main-title {
		text-align: center;
		margin-top: 90px;
	}
    .main .main-title h1 {
		font-size: 48px;
		color: #FFF;
    }
    .main-title h1 {
		font-size: 48px;
    }

	.main-subtitle {
		text-align: center;
		margin-top: 40px;
	}
	.main-subtitle p {
		font-size: 28px;
		color: #FFF;
	}

	.btn-primary {
		font-size: 48px;
	}

	.footer p {
		font-size: 16px;
	}

	.main-links {
		font-size: 20px;
		margin-top: 100px;
	}
}
@media screen and (max-width: 479px) {

	.main-title {
		text-align: center;
		margin-top: 20px;
	}
    .main-title h1 {
		font-size: 24px;
		color: #FFF;
    }

	.main-subtitle {
		text-align: center;
		margin-top: 20px;
	}
	.main-subtitle p {
		font-size: 16px;
		color: #FFF;
	}

	.btn-primary {
		font-size: 24px;
	}

	.footer p {
		font-size: 12px;
	}

	.main-links {
		font-size: 16px;
		margin-top: 20px;
	}
}

.btn-primary {
	border-color: #FFF !important;
	background: #FFF !important;
  	color: #6B205F !important;
  	font-weight: 700;
}

.main-links {
	color: #FFF;
	font-weight: 300;
	text-align: right;
}

.main-links a {
	font-weight: 400;
	color: #FFF;
	text-decoration: underline;
	margin-left: 20px;
}

.main-footer p {
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #FFF;
	font-weight: 400;
	text-align: left;
}
.main-footer a {
	color: #fff;
	text-decoration: underline;
}

#tablet1 {
	position: fixed;
	left: 171px;
	top: 155px;
}

#tablet2 {
	position: fixed;
	left: 547px;
	top: 483px;
}

#tablet3 {
	position: fixed;
	left: 767px;
	top: 47px;
}

#tablet4 {
	position: fixed;
	left: 1080px;
	top: 440px;
}

#phone1 {
	position: fixed;
	left: 137px;
	top: 483px;
}

#phone2 {
	position: fixed;
	left: 353px;
	top: 411px;
}

#phone3 {
	position: fixed;
	left: 839px;
	top: 341px;
}

#phone4 {
	position: fixed;
	left: 1111px;
	top: 210px;
}

.circle {
	margin:10px auto ;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	text-align: center;
	background-color: #333;
}
.circle span {
	height: 200px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}
.circle p {
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
	color: #fff;
}

.header {
	background-color: #6B205F;
	height: 40px;
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
}

@media screen and (min-width: 480px) {
	.result h2 {
		margin-top: 50px;
		font-size: 40px;
		font-weight: 300;
	}
    .result h1 {
		margin-top: 10px;
		font-size: 56px;
		font-weight: 700;
    }

	.result-subtitle {
		font-size: 30px;
		margin-top: 20px;
	}

	.more-info {
		font-size: 16px;
	}
}
@media screen and (max-width: 479px) {

	.result h2 {
		margin-top: 20px;
		font-size: 20px;
		font-weight: 300;
	}
    .result h1 {
		margin-top: 4px;
		font-size: 28px;
		font-weight: 700;
    }

	.result-subtitle {
		font-size: 15px;
		margin-top: 8px;
	}

	.more-info {
		font-size: 8px;
	}
}

.result {
	color: #6B205F;
	text-align: center;
}

.result-subtitle {
	padding: 20px 20px 20px 20px;
	color: #6B205F;
	border: 2px solid #6B205F;
}

.result-subtitle a {
	color: #6B205F;
	text-decoration: underline;
}

.result-text {
	border-bottom: 2px solid #6B205F
}

.result-footer p {
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #6B205F;
	font-weight: 400;
	text-align: left;
}

.result-footer a {
	color: #6B205F;
	text-decoration: underline;
}

.more-info {
	background-color: #6B205F;
	color: #FFF;
	margin-top: 0px;
	padding-top: 12px;
}

.more-info a {
	color: #FFF;
	text-decoration: underline;
}

.answer-btn {
	font-size: 32px;
	font-weight: 300;
	text-align: center;
	display: block;
}

.answer-btn {
	text-decoration: none;
	color: #6B205F;
}

.logo {
	padding: 20px 0px 20px 0px;
	text-align: center;
}

.logo img {
	max-width: 150px;
	max-height: 150px;
}